#loader.ui.modal.basic
	.content
		.ui.text.loader Loading
		label.loader
form#frm(method="post" data-type='evt' action="/tinymce" enctype="multipart/form-data")
	#ul_title
		.title.ui.transparent.input
			input#input-title.title(name="title" rows="1" autofocus required placeholder="标题" value= doc ? doc.title : '')
	#date_src
		.ui.transparent.input= 'Date: '
			input#input-date(type="date" name="date" value=doc ? doc.date : '2016-01-01')
		.ui.transparent.input
			input#input-source(type="text" name="source" placeholder="文章/资料来源" required value= doc ? doc.source : '')
	#frm-body
		.mymce-container
			#input-body!= doc ? doc.body : '<br>'
		//textarea#input-body(name='body' rows='20' required onload='mce()')
	#att
		input#input-att(type='text' name='att' hidden)
#app.upload-att.divided
	.att(v-for='(index, att) in atts')
		button.ui.icon.button.red.small.basic(v-on:click='remove(att)')
			i.icon.trash
		label 附件.{{ index + 1 }}:
		.ui.transparent.input
			input.att-name(type="text" placeholder="{{ att.name }}" v-model='att.name')
		.ui.bottom.attched.progress.tiny
			.bar(v-bind:style='{ width: att.progress, background: att.progress == "100%" ? "#008800" : "#000088"}')
#ops
	if !editmode
		#btn-upload.ui.labeled.icon.button.basic.teal.small 提交
			i.icon.send.outline
	#btn-img.ui.labeled.icon.button.basic.orange.small 图片
		i.icon.file.image.outline
	#btn-att.ui.labeled.icon.button.basic.blue.small 附件
		i.icon.attach
	#btn-cancel.ui.labeled.icon.button.basic.teal.small 取消
		i.icon.remove
#tips tips:
	p 可直接拖放插入图片