#upload-people.container-fluid
	.row
		.card-wrapper
			if !editmode
				#btn-upload.ui.labeled.icon.button.basic.green.small Upload
					i.icon.write
				#btn-cancel.ui.labeled.icon.button.basic.teal.small 取消
					i.icon.remove
			.card
				.profile-card
					#profile-pic.profile-pic
						#edit-pic.media-object.center-block
							#pic-loader
							label.btn change
						img.media-object.img-circle.center-block(src= doc ? doc.picture : '/images/user.png' alt='profile picture')
					.contact-details
						.name-and-profession
							h3.text-bolder.name
								.ui.input.transparent
									input#input-name(type="text" name="name" placeholder="John Doe" value= doc ? doc.name : '')
							h5.text-muted
								.ui.input.transparent
									input#input-title(type="text" name="title" placeholder="Title" value= doc ? doc.title : '')
						.detail
							span.icon
								i.fa.fa-lg.fa-graduation-cap
							span.info
								select.ui.dropdown#input-degree(type="text" hidden name="degree" placeholder="degree" value= doc ? doc.degree : '')
									-var degrees = ['professor','post-doc' ,'graduate student','undergraduate student']
									each degree, index in degrees
										if doc
											option(value=degree selected= (degree == doc.degree) ? 'selected' : false)= degree
										else
											option(value=degree)= degree

						.detail
							span.icon
								i.fa.fa-lg.fa-map-marker
							span.info
								.ui.input.transparent
									input#input-office(type="text" name="office" placeholder="Office location" value= doc ? doc.office : '')
						.detail
							span.icon
								i.fa.fa-lg.fa-envelope
							span.info
								.ui.input.transparent
									input#input-email(type="text" name="email" placeholder="email address" value= doc ? doc.email : '')
						.detail
							span.icon
								i.fa.fa-lg.fa-phone
							span.info
								.ui.input.transparent
									input#input-phone(type="text" name="phone" placeholder="office number" value= doc ? doc.phone : '')
	.row
		.card-wrapper
			.card.background-card
				.mymce-container
					#input-body!= doc ? doc.details : 'details'
				//textarea#input-body(name='body' rows='20' onload='mce()')