footer.container-fluid
	.col-md-4
		.label
			label sitemap
		a.item 首页
		a.item 简介
		a.item 项目
		a.item 人员
		a.item 活动
		a.item FAQ
	.col-md-4
		.label
			label contact us
	.col-md-4
		.label
			label useful links