footer.container-fluid
	.footer-div.site-map.col-sm-4.col-md-4
		.label
			label SITE MAP
		include menu
	.footer-div.contact.col-sm-4.col-md-4
		.label
			label CONTACT
		a.about(href='/about') About
	.footer-div.links.col-sm-4.col-md-4
		.label
			label LINKS
		a.out-link(href='http://www.cuhk.edu.hk/chinese' target='__blank')
			img(src='/images/cuhk_logo_2x.png' alt='CUHK LOGO')