header#header
	//.header-bg
		.filter
	.custom-header.col-xs-12.col-sm-8.col-md-8.col-lg-7
		.click-home.logo(onclick='window.location="/"')
			|logo here
		h1.site-title.click-home(onclick='window.location="/"') Yang's Seismic Lab
		.my-navbar
			a.nav-item(href='#about') 简介
			a.nav-item(href='#projects') 项目
			a.nav-item(href='#people') 人员
			a.nav-item(href='#people') 活动
			a.nav-item(href='#people') FAQ
	.full-height.header-images.col-xs-0.col-sm-4.col-md-4.col-lg-5
		.filter
			.left
			.right
		img(src='/images/000.jpg' hidden)