header#header
	//.header-bg
		.filter
	.custom-header.col-xs-12.col-sm-8.col-md-8.col-lg-7
		.logo
			|logo here
		h1.site-title Yang's Seismic Lab
		.my-navbar
			.nav-item(data-url='/about') 简介
			.nav-item(data-url='/projects') 项目
			.nav-item(data-url='/people') 人员
			.nav-item(data-url='/events') 活动
			.nav-item(data-url='/FAQ') FAQ
	.full-height.header-images.col-xs-0.col-sm-4.col-md-4.col-lg-5
		.filter
			.left
			.right
		img(src='/images/000.jpg' hidden)