doctype html
html
	head
		-var title = ''
		if doc
			if doc.name
				-title = doc.name
			else if doc.title
				-title = doc.title
			-title = title + ' - '
		title= title + 'Yangs Seismic Lab'
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel='stylesheet' href='https://cdn.jsdelivr.net/fontawesome/4.5.0/css/font-awesome.min.css')
		link(rel='stylesheet' href='/stylesheets/bootstrap-grid.min.css')
		link(rel='stylesheet' href='/semantic/semantic.min.css')
		link(rel='stylesheet' href='/stylesheets/person.min.css')
		link(rel='stylesheet' href='/stylesheets/upload.min.css')
		link(rel='stylesheet', href='/stylesheets/style.min.css')
		link(rel='stylesheet' href='/stylesheets/mce.min.css')
	body
		#sidebar-hidden.ui.sidebar.left.vertical.menu
			include menu
		.pusher
			//#vertical-nav
				.first-class
					a.nav-item(href='#about')
						.icon-holder
							i.icon.radio
						span 简介
					a.nav-item(href='#projects')
						.icon-holder
							i.icon.radio.selected
						span 项目
					a.nav-item(href='#people')
						.icon-holder
							i.icon.radio.selected
						span 人员
					a.nav-item(href='#people')
						.icon-holder
							i.icon.radio.selected
						span 活动
					a.nav-item(href='#people')
						.icon-holder
							i.icon.radio
						span FAQ
			include header
			#loader.ui.modal.basic
				.content
					.ui.text.loader Loading
			#sidebar-normal.ui.left.fixed.vertical.menu
				include menu
			#body.col-md-9.col-md-offset-3.col-lg-8.col-lg-offset-2
				#top-indicator
				#body-loader.ui.text.loader Loading
				if doc
					#site-path.ui.breadcrumb
						a.section(href='/') Home
						.divider /
						a.section(href='/#' + doctype)= doctype
						.divider /
						a.section.active= doc.name ? doc.name : doc.title
				#main.container-fluid
					#main-content.col-xs-12.col-sm-12.col-md-12.col-lg-12
						block content
					//#news.col-xs-12.col-sm-3.col-md-3.col-lg-3
						label news links
						ol.ui.list
							li
								a.item news link1
							li
								a.item news link2
							li
								a.item news link3
				include footer
			#scroll-top.arrow(onclick='ScrollTop()')
				.stick
				.point
				.wall
			#modal-cust
				.container
		block scripts
			script(src='/javascripts/jquery-2.1.4.min.js')
			//script(src='//code.jquery.com/jquery-2.1.4.min.js')
			//script(src='https://cdn.jsdelivr.net/lodash/3.10.1/lodash.min.js')
			//script(src='https://cdn.jsdelivr.net/jquery.ui/1.11.4/jquery-ui.min.js')
			//script(src='https://cdn.jsdelivr.net/semantic-ui/2.1.8/semantic.min.js')
			//script(src='https://cdn.jsdelivr.net/js-cookie/2.1.0/js.cookie.js')
			//script(src='https://cdn.jsdelivr.net/vue/1.0.15/vue.min.js')
			script(src='/javascripts/lodash.min.js')
			script(src='/javascripts/js.cookie.js')
			script(src='/javascripts/bootstrap.min.js')
			//script(src='/javascripts/vibrant.min.js')
			script(src='/javascripts/vue.min.js')
			script(src='/semantic/semantic.min.js')
			script(src='/tinymce/tinymce.min.js')
			script(src='/javascripts/smoothscroll.js')
			script(src='/javascripts/babeled2015.js')
