#projects.custom-container.container-fluid
	h2
		label projects
	.project.col-md-4
		.card-box
			.image
				img(src='/images/000.jpg')
			.content
				a.header Projects Aero
				.meta
					span.date Started in 2016
				p.description descriptiondescriptiondescriptiondescription
			.extra.content
	.project.col-md-4
		.card-box
			.image
				img(src='/images/001.jpg')
			.content
				a.header Projects Blob
				.meta
					span.date Started in 2016
				p.description descriptiondescriptiondescriptiondescription
			.extra.content
	.project.col-md-4
		.card-box
			.image
				img(src='/images/002.jpg')
			.content
				a.header Projects Cli
				.meta
					span.date Started in 2016
				p.description descriptiondescriptiondescriptiondescription
			.extra.content


