@charset "UTF-8";
html, body {
  background: url("/images/phoenix.png");
  font-family: Helvetica, Tahoma, Arial, STXihei, “华文细黑”, “Microsoft YaHei”, “微软雅黑”, SimSun, “宋体”, Heiti, “黑体”, sans-serif;
}

html.ios {
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

html.ios, html.ios body {
  height: initial !important;
}

.pusher {
  background: white;
}

#body {
  padding: 0px;
  background: white;
}
#body #top-indicator {
  display: block;
  width: 1px;
}

#main {
  padding: 0px;
}

#main-content {
  background: white;
  padding: 0px;
  min-height: 720px;
  border-left: 1px solid lightgray;
}

#site-path {
  padding: 8px;
  position: relative;
}

.ui.steps .step {
  padding: 8px 12px 8px 24px;
}

.full-width {
  padding: 0px;
}

@-webkit-keyframes showheader {
  from {
    top: -54px;
  }
  to {
    top: 0px;
  }
}

@keyframes showheader {
  from {
    top: -54px;
  }
  to {
    top: 0px;
  }
}
#body-loader {
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 24px;
  z-index: 999;
}

#header-nv {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  width: 100%;
  border-bottom: 1px solid #73216D;
}
#header-nv a.item {
  color: #73216D;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: center;
  padding: 4px;
  margin: 2px;
  border-left: 1px solid #73216D;
}
#header-nv a.item:first-child {
  border-left: 0px;
}
#header-nv a.item:hover {
  background: #73216D;
  color: #C90;
}

#sidebar-normal {
  background: rgba(255, 255, 255, 0.5);
}

.ui.vertical.menu a.item .icon-container {
  width: 48px;
  display: inline-block;
}
.ui.vertical.menu a.item .icon-container i {
  position: relative;
  font-size: 18px;
  margin: auto;
  padding: 4px 8px;
}
.ui.vertical.menu a.item span {
  font-size: 13px;
}
.ui.vertical.menu a.item:first-child .icon-container i {
  font-size: 26px;
  padding: 8px;
}
.ui.vertical.menu a.item:first-child span {
  font-size: 16px;
}

.full-height {
  height: 100%;
}

.att-txt {
  width: 100%;
  display: block;
}

a#sidebar-toggle {
  display: none;
}

#header .custom-header {
  padding: 12px;
  z-index: 9;
}
#header .custom-header .logo {
  margin: 2px 24px;
  height: 64px;
  overflow: hidden;
}
#header .custom-header .logo img {
  height: 100%;
  object-fit: cover;
}
#header .custom-header .site-title {
  margin: auto;
  padding: 12px 24px;
}
#header .custom-header .site-title h1 {
  color: #73216D;
  margin: 2px 24px;
  float: right;
  font-size: 40px;
  font-family: "Matura MT Script Capitals", "Algerian";
}

@-webkit-keyframes fade-in {
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fade-out {
  to {
    opacity: 0;
  }
}
@keyframes fade-out {
  to {
    opacity: 0;
  }
}
.carousel-fade .carousel-inner .item {
  transition-property: opacity;
  transition-duration: 2s;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.header-images {
  height: 196px;
  position: relative;
  right: 0px;
  padding: 0px;
  background-size: cover;
  box-shadow: inset 0px 0px 100px 0px rgba(255, 255, 255, 0.4);
  overflow: hidden;
}
.header-images .img-container {
  position: absolute;
  height: 196px;
  box-shadow: inset 24px 0px 24px -12px white;
}
.header-images .img-container img.fade-images {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header-images .img-container img.fade-images.in {
  -webkit-animation: fade-in 1.2s ease forwards;
  animation: fade-in 1.2s ease forwards;
}
.header-images .img-container img.fade-images.out {
  -webkit-animation: fade-out 1.2s ease forwards;
  animation: fade-out 1.2s ease forwards;
}
.header-images .filter {
  width: 30%;
  height: 400%;
  top: calc(216px - 200%);
  left: -15%;
  -webkit-transform: rotate(20deg);
  transform: rotate(20deg);
}
.header-images .filter .left {
  display: inline-block;
  width: 100%;
  position: absolute;
  left: -50%;
  height: 100%;
  background: white;
}
.header-images .filter .right {
  display: inline-block;
  position: absolute;
  left: calc(50% - 1px);
  width: 50%;
  height: 100%;
  background: linear-gradient(to right, white, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.45), rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
}

.my-navbar {
  float: left;
}
.my-navbar .nav-item {
  font-size: 18px;
  font-weight: 600;
  padding: 8px 12px;
  margin: 4px 12px;
  display: inline-block;
  cursor: pointer;
  border-bottom: 2px solid gray;
}
.my-navbar .nav-item:hover {
  color: black;
  border-bottom: 2px solid black;
}

#vertical-nav {
  position: fixed;
  left: 0px;
  top: calc(50% - 200px);
}
#vertical-nav .first-class a.nav-item {
  display: block;
  font-size: 18px;
  margin: 0px 24px;
  padding: 32px 8px;
  cursor: pointer;
  border-left: 3px solid gray;
}
#vertical-nav .first-class a.nav-item .icon-holder {
  display: inline-block;
}
#vertical-nav .first-class a.nav-item .icon-holder i {
  font-size: 16px;
  margin: 0px;
  position: relative;
  background: #F4F2F0;
  top: calc(50% - 8px);
  left: -18px;
}
#vertical-nav .first-class .nav-item:before {
  height: 100%;
  left: 4px;
}

#slr-container {
  height: 420px;
  padding: 0px;
}
#slr-container #slr {
  padding: 0px;
}
#slr-container .item {
  height: 420px;
}
#slr-container .item img {
  object-fit: cover;
}
#slr-container .item .carousel-caption {
  background: #73216D;
  opacity: 0.7;
  color: #C90;
  width: 100%;
  left: 0px;
  margin: auto;
  cursor: pointer;
  bottom: 0px;
  padding: 24px;
}
#slr-container .item .carousel-caption h3 a {
  color: #C90;
}

.custom-container {
  padding: 24px;
  color: black;
  background: white;
  border-top: 1px solid lightgray;
}
.custom-container h2 {
  text-align: left;
  margin: 24px;
}
.custom-container h2 .title-icon {
  font-size: 16px;
  opacity: 0.6;
  padding: 4px;
}
.custom-container h2 label {
  border: 2px solid;
  border-radius: 5px;
  padding: 6px 24px;
}
.custom-container div {
  padding: 0px 2px;
}
.custom-container .content.editable h2 {
  text-align: center;
  margin: 64px;
}
.custom-container .content.editable h2 label {
  border: 2px solid;
  border-radius: 5px;
  padding: 6px 24px;
}
.custom-container .content.editable p {
  padding: 24px;
}
.custom-container .come-in {
  opacity: 0;
  -webkit-transform: translateY(150px);
  transform: translateY(150px);
  -webkit-animation: come-in 0.8s ease forwards;
  animation: come-in 0.8s ease forwards;
}
.custom-container .come-in:nth-child(odd) {
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
}
.custom-container .not-visible {
  opacity: 0;
}
.custom-container .come-down {
  opacity: 0;
  -webkit-transform: translateY(-150px);
  transform: translateY(-150px);
  -webkit-animation: come-in 0.8s ease forwards;
  animation: come-in 0.8s ease forwards;
}
.custom-container .come-down:nth-child(odd) {
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
}

.custom-container:first-child {
  border-top: 0px;
}

@-webkit-keyframes come-in {
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes come-in {
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
#vertical-nv {
  width: 100%;
  max-width: 210px;
  padding: 24px 8px;
  border: 1px solid #73216D;
}
#vertical-nv a.item.nav-link {
  display: block;
  color: #73216D;
  background: white;
  padding: 8px;
  cursor: pointer;
  border-bottom: 1px solid;
}
#vertical-nv a.item.nav-link.selected {
  background: #73216D;
  color: #C90;
}
#vertical-nv a.item.nav-link:hover {
  border: 1px solid #73216D;
  color: #C90;
}

#vertical-nv.pinned {
  position: fixed;
  top: 0px;
}

#article.edit-hidden #d_title {
  padding: 24px 36px;
}
#article.edit-hidden .article-meta {
  font-size: 13px;
  padding: 4px 34px;
}
#article.edit-hidden .article-meta label {
  padding: 4px 24px 4px 2px;
}
#article.edit-hidden .main-body {
  padding: 8px 24px 34px 34px;
}

.editable.editing {
  border: 1px solid gray;
}

.edit-disabled {
  background: rgba(0, 0, 0, 0.2);
  opacity: 0.9;
}

.click-home {
  cursor: pointer;
}

.upload-frm {
  position: relative;
}

.edit-add .card-box .add-btn {
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: calc(50% - 26px);
  font-size: 48px;
  color: green;
  text-align: center;
}

.inline-img {
  max-width: 100%;
}

.expand-transition {
  position: absolute;
  z-index: 9999;
  margin: auto;
  background: white;
  border-radius: 50%;
  width: 1px;
  height: 1px;
  -webkit-animation: expand 0.6s, fade 0.4s ease 0.4s;
  animation: expand 0.6s, fade 0.4s ease 0.4s;
}

@-webkit-keyframes expand {
  to {
    width: 2000px;
  }
}

@keyframes expand {
  to {
    width: 2000px;
  }
}
@-webkit-keyframes fade {
  to {
    background: transparent;
  }
}
@keyframes fade {
  to {
    background: transparent;
  }
}
.mymce-container {
  min-height: 640px;
  width: 100%;
}
.mymce-container #input-body {
  width: 100%;
  display: inline-block;
}

.edit-only {
  display: none;
}

.edit-hidden {
  display: inline-block;
}

.card-wrapper .card {
  padding: 32px 56px;
  margin-bottom: 24px;
}

.card-box {
  width: 100%;
  height: 289px;
  border: 1px solid lightgray;
  border-radius: 4px;
  background: white;
  overflow: hidden;
}
.card-box .image {
  height: 168px;
  padding: 8px;
}
.card-box .image img {
  width: 100%;
  max-width: 168px;
  height: width;
  max-height: 168px;
  object-fit: cover;
}
.card-box .content {
  padding-top: 24px;
}
.card-box .content a.header {
  font-size: 16px;
}
.card-box .content .meta {
  color: gray;
  font-size: 14px;
}

#modal-cust {
  width: 100%;
  position: absolute;
  z-index: 999;
  background: white;
  top: 0px;
  left: 0px;
  display: none;
}

.news-style {
  height: 289px;
  padding: 0px 1px;
  overflow: hidden;
}
.news-style img.background.image {
  width: 100%;
  height: 289px;
  transition: all 0.4s ease-out;
  object-fit: cover;
  border: 2px solid #32ACB7;
}
.news-style .content {
  color: white;
  background: rgba(0, 0, 0, 0.2);
  position: relative;
  top: -289px;
  width: 100%;
  padding: 24px;
  padding-top: 200px;
  height: 289px;
  overflow: hidden;
  transition: all 0.3s ease-out;
}
.news-style .content div {
  transition: all 0.4s ease-out;
}
.news-style .content .header {
  display: inline-block;
  font-size: 18px;
  height: 54px;
  overflow: hidden;
}
.news-style .content .meta {
  font-size: 12px;
  margin-bottom: 36px;
}
.news-style .content .description {
  font-size: 12px;
  height: 88px;
  margin-bottom: 24px;
  overflow: hidden;
}

.news-style:hover .background.image {
  border: 8px solid #32ACB7;
}

.news-style:hover .content {
  padding-top: 64px;
  background: rgba(0, 0, 0, 0.4);
}

.news-style:hover .meta {
  margin-bottom: 12px;
}

.news-style:hover .description {
  margin-bottom: 4px;
}

.arrow {
  padding: 4px;
  height: 24px;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0.6;
  cursor: pointer;
}
.arrow div {
  display: inline-block;
}
.arrow .stick {
  width: 28px;
  height: 1px;
  position: relative;
  top: -5px;
  background: white;
}
.arrow .point {
  width: 12px;
  height: 12px;
  margin-top: 6px;
  position: relative;
  left: -12px;
  border-top: 1px solid white;
  border-left: 1px solid white;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
.arrow .wall {
  color: white;
  font-size: 10px;
  width: 2px;
  height: 17px;
  position: relative;
  left: -8px;
  top: 3px;
  border-left: 1px solid white;
}

.arrow:hover {
  opacity: 1;
}

#scroll-top {
  background: #73216D;
  height: 42px;
  padding-top: 6px;
  padding-bottom: 12px;
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
  position: fixed;
  bottom: 84px;
  right: -4px;
}

#scroll-top.in {
  right: -4px;
  -webkit-animation: sin 0.8s ease;
  animation: sin 0.8s ease;
}

#scroll-top.out {
  right: -48px;
  -webkit-animation: sout 0.8s ease;
  animation: sout 0.8s ease;
}

@-webkit-keyframes sin {
  from {
    right: -48px;
  }
  to {
    right: -4px;
  }
}

@keyframes sin {
  from {
    right: -48px;
  }
  to {
    right: -4px;
  }
}
@-webkit-keyframes sout {
  from {
    right: -4px;
  }
  to {
    right: -48px;
  }
}
@keyframes sout {
  from {
    right: -4px;
  }
  to {
    right: -48px;
  }
}
ol.publication li {
  padding: 12px;
}
ol.publication li .edit-hidden {
  vertical-align: top;
}

#ops .ui.labeled.icon {
  box-shadow: 0px 0px 24px 0px rgba(222, 222, 222, 0.9);
}

.people-group {
  padding: 12px;
  border: 1px solid lightgray;
}
.people-group .group-label {
  width: 100%;
  padding: 4px;
  text-align: left;
  font-size: 18px;
  padding: 8px 4px 4px 8px;
  border-bottom: 1px solid lightgray;
}
.people-group .people {
  padding: 12px;
  text-align: center;
}
.people-group .people .card-box .image img.media-object.img-circle.center-block {
  object-fit: cover;
}

#profile-pic {
  padding: 0px 56px 14px 0px;
}
#profile-pic #edit-pic {
  width: 100px;
  height: 100px;
  z-index: 2;
  position: absolute;
}
#profile-pic #edit-pic #pic-loader {
  width: 100px;
  height: 100px;
  margin: auto;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
}
#profile-pic #edit-pic label {
  cursor: pointer;
  color: white;
  position: relative;
  top: 36px;
  left: 12px;
  padding: 2px 8px;
}
#profile-pic #edit-pic label.btn {
  border: 2px solid white;
}
#profile-pic img {
  object-fit: cover;
}

.edit-logo {
  position: absolute;
}
.edit-logo label.btn {
  top: 16px;
  border: 2px solid black;
  cursor: pointer;
}

footer {
  background: #73216D;
  color: #C90;
  margin-top: 24px;
  padding: 8px;
}
footer .footer-div {
  text-align: center;
  min-height: 124px;
  border-left: 1px solid lightgray;
}
footer .footer-div a.item {
  font-size: 12px;
  color: lightgray;
}
footer .footer-div .label {
  padding-bottom: 12px;
  border-bottom: 1px solid lightgray;
}
footer .footer-div a.out-link {
  display: inline-block;
  height: 36px;
  padding: 2px;
}
footer .footer-div a.out-link img {
  height: 100%;
}
footer .footer-div a.about {
  color: lightgray;
  border-bottom: 1px solid;
}
footer .footer-div:first-child {
  border-left: 0px;
}
footer .site-map a.item.nav-link {
  display: inline-block;
  padding: 4px 12px;
}
footer .site-map a.item.nav-link span {
  border-bottom: 1px solid;
}

@media (min-width: 999px) {
  #header {
    height: 196px;
    border-bottom: 1px solid lightgray;
    overflow: hidden;
  }
}
@media (max-width: 768px) {
  #top-indicator {
    position: relative;
    top: 60px;
  }

  header#header {
    width: 100%;
    top: 0px;
    padding: 0px;
    background: white;
    transition: all 0.8s ease-in-out;
  }
  header#header a#sidebar-toggle {
    z-index: 100;
    display: inline-block;
    position: absolute;
    padding: 8px;
    font-size: 36px;
    cursor: pointer;
  }
  header#header .custom-header {
    padding: 2px;
  }
  header#header .custom-header .site-title {
    padding: 8px;
    margin: 0px;
    text-align: center;
  }
  header#header .custom-header .site-title h1 {
    float: center;
  }
  header#header .custom-header .logo {
    text-align: center;
  }
  header#header .custom-header .my-navbar {
    display: none;
  }
  header#header .header-images {
    display: none;
  }

  header#header.normal {
    height: 162px;
    background: white;
  }
  header#header.normal .custom-header {
    padding: 2px;
  }
  header#header.normal .custom-header .logo {
    text-align: center;
  }

  header#header.fixed-header {
    position: fixed;
    z-index: 99;
    top: 0px;
    height: 54px;
    background: gray;
    box-shadow: 0px 12px 24px -16px rgba(0, 0, 0, 0.9);
  }
  header#header.fixed-header .custom-header {
    padding: 2px;
  }
  header#header.fixed-header .custom-header .logo {
    display: none;
  }

  header#header.fixed-header.hidden {
    -webkit-animation: showheader 1s ease 0s 1 reverse;
    animation: showheader 1s ease 0s 1 reverse;
    top: -54px;
  }

  header#header.fixed-header.shown {
    -webkit-animation: showheader 1s ease;
    animation: showheader 1s ease;
    top: 0px;
  }

  #vertical-nv, #header-nv {
    display: none;
  }

  .card.background-card {
    padding: 25px 4px 25px 24px;
  }
}
@media (max-width: 768px) {
  #main-content {
    padding: 0px;
  }

  #article.edithidden #d_title {
    padding: 12px 24px;
  }
  #article.edithidden .article-meta {
    font-size: 13px;
    padding: 4px 0px;
  }
  #article.edithidden .article-meta label {
    padding: 4px 12px 4px 2px;
  }
  #article.edithidden .main-body {
    padding: 8px 4px 24px 4px;
  }

  .card.background-card {
    padding: 25px 4px 25px 24px;
  }

  #slr-container {
    height: 240px;
  }
  #slr-container .item {
    height: 240px;
  }

  .custom-container h2 {
    font-size: 18px;
  }
}
