@charset "utf-8"

$font-stack: Helvetica, Tahoma, Arial, STXihei, “华文细黑”, “Microsoft YaHei”, “微软雅黑”, SimSun, “宋体”, Heiti, “黑体”, sans-serif
$prim-color: #C90
$header-height: 196px
$html-bg: #F4F2F0
$bg-color:#73216D

html,body
	//min-width: 1024px
	background: url('/images/phoenix.png')
	font-family: $font-stack

//.box-indicator
	//border: 2px solid black
html.ios
	overflow-x: hidden
	-webkit-overflow-scrolling: touch
html.ios,html.ios body
	height: initial !important
.pusher
	background: white
#body
	padding: 0px
	background: white
	#top-indicator
		display: block
		width: 1px
#main
	padding: 0px

#main-content
	background: white
	padding: 0px
	min-height: 720px
	border-left: 1px solid lightgray
#site-path
	padding: 8px
	position: relative
.ui.steps
	.step
		padding: 8px 12px 8px 24px
.full-width
	padding: 0px

@keyframes showheader
	from
		top: -54px
	to
		top: 0px
#body-loader
	margin-left: auto
	margin-right: auto
	position: absolute
	top: 24px
	z-index: 999
#header-nv
	display: flex
	height: 40px
	width: 100%
	border-bottom: 1px solid $bg-color
	a.item
		color: $bg-color
		flex-grow: 1
		text-align: center
		padding: 4px
		margin: 2px
		border-left: 1px solid $bg-color
	a.item:first-child
		border-left: 0px
	a.item:hover
		background: $bg-color
		color: $prim-color

#sidebar-normal
	background: rgba(255,255,255,0.5)
.ui.vertical.menu
	a.item
		.icon-container
			width: 48px
			display: inline-block
			i
				position: relative
				font-size: 18px
				margin: auto
				padding: 4px 8px
		span
			font-size: 13px
	a.item:first-child
		.icon-container
			i
				font-size: 26px
				padding: 8px
		span
			font-size: 16px

.full-height
	height: 100%
.att-txt
	width: 100%
	display: block
a#sidebar-toggle
	display: none
#header
	.custom-header
		padding: 12px
		z-index: 9
		.logo
			margin: 2px 24px
			height: 64px
			overflow: hidden
			img
				height: 100%
				object-fit: cover
		.site-title
			margin: auto
			padding: 12px 24px
			h1
				color: $bg-color
				margin: 2px 24px
				float: right
				font-size: 40px
				font-family: "Matura MT Script Capitals", "Algerian"

@keyframes fade-in
	to
		opacity: 1
@keyframes fade-out
	to
		opacity: 0
.carousel-fade
	.carousel-inner
		.item
			transition-property: opacity
			transition-duration: 2s
		.item,
		.active.left,
		.active.right
			opacity: 0
		.active,
		.next.left,
		.prev.right
			opacity: 1
		.next,
		.prev,
		.active.left,
		.active.right
			left: 0
			transform: translate3d(0, 0, 0)
.header-images
	height: $header-height
	position: relative
	right: 0px
	padding: 0px
	background-size: cover
	box-shadow: inset 0px 0px 100px 0px rgba(255,255,255,0.4)
	overflow: hidden
	.img-container
		position: absolute
		height: $header-height
		box-shadow: inset 24px 0px 24px -12px white
		img.fade-images
			position: absolute
			width: 100%
			height: 100%
			object-fit: cover
		img.fade-images.in
			animation: fade-in 1.2s ease forwards
		img.fade-images.out
			animation: fade-out 1.2s ease forwards
	.filter
		width: 30%
		height: 400%
		top: calc(216px - 200%)
		left: -15%
		transform: rotate(20deg)
		.left
			display: inline-block
			width: 100%
			position: absolute
			left: -50%
			height: 100%
			background: rgba(255,255,255,1)
		.right
			display: inline-block
			position: absolute
			left: calc(50% - 1px)
			width: 50%
			height: 100%
			background: linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0.7), rgba(255,255,255,0.45), rgba(255,255,255,0.25), rgba(255,255,255,0.1), rgba(255,255,255,0))

.my-navbar
	float: left
	.nav-item
		font-size: 18px
		font-weight: 600
		padding: 8px 12px
		margin: 4px 12px
		display: inline-block
		cursor: pointer
		border-bottom: 2px solid gray
	.nav-item:hover
		color: black
		border-bottom: 2px solid black

#vertical-nav
	position: fixed
	left: 0px
	top: calc(50% - 200px)
	.first-class
		a.nav-item
			display: block
			font-size: 18px
			margin: 0px 24px
			padding: 32px 8px
			cursor: pointer
			border-left: 3px solid gray
			.icon-holder
				display: inline-block
				i
					font-size: 16px
					margin: 0px
					position: relative
					background: $html-bg
					top: calc(50% - 8px)
					left: -18px
		.nav-item:before
			height: 100%
			left: 4px

#slr-container
	height: 420px
	padding: 0px
	#slr
		padding: 0px
	.item
		height: 420px
		img
			object-fit: cover
		.carousel-caption
			background: $bg-color
			opacity: 0.7
			color: $prim-color
			width: 100%
			left: 0px
			margin: auto
			cursor: pointer
			bottom: 0px
			padding: 24px
			h3
				a
					color: $prim-color

.custom-container
	padding: 24px
	color: black
	background: white
	border-top: 1px solid lightgray
	h2
		text-align: left
		margin: 24px
		.title-icon
			font-size: 16px
			opacity: 0.6
			padding: 4px
		label
			border: 2px solid
			border-radius: 5px
			padding: 6px 24px
	div
		padding: 0px 2px
	.content.editable
		h2
			text-align: center
			margin: 64px
			label
				border: 2px solid
				border-radius: 5px
				padding: 6px 24px
		p
			padding: 24px
	.come-in
		opacity: 0
		transform: translateY(150px)
		animation: come-in 0.8s ease forwards

	.come-in:nth-child(odd)
		animation-duration: 0.6s
	.not-visible
		opacity: 0
	.come-down
		opacity: 0
		transform: translateY(-150px)
		animation: come-in 0.8s ease forwards

	.come-down:nth-child(odd)
		animation-duration: 0.6s

.custom-container:first-child
	border-top: 0px

@keyframes come-in
	to
		opacity: 1
		transform: translateY(0)
#vertical-nv
	width: 100%
	max-width: 210px
	padding: 24px 8px
	border: 1px solid $bg-color
	a.item.nav-link
		display: block
		color: $bg-color
		background: white
		padding: 8px
		cursor: pointer
		border-bottom: 1px solid
	a.item.nav-link.selected
		background: $bg-color
		color: $prim-color
	a.item.nav-link:hover
		border: 1px solid $bg-color
		color: $prim-color

#vertical-nv.pinned
	position: fixed
	top: 0px
#article.edit-hidden
	#d_title
		padding: 24px 36px
	.article-meta
		font-size: 13px
		padding: 4px 34px
		label
			padding: 4px 24px 4px 2px
	.main-body
		padding: 8px 24px 34px 34px

.editable.editing
	border: 1px solid gray
.edit-disabled
	background: rgba(0,0,0,0.2)
	opacity: 0.9
.click-home
	cursor: pointer
.upload-frm
	position: relative

.edit-add
	.card-box
		.add-btn
			cursor: pointer
			margin-left: auto
			margin-right: auto
			position: relative
			top: calc(50% - 26px)
			font-size: 48px
			color: green
			text-align: center
.inline-img
	max-width: 100%
.expand-transition
	position: absolute
	z-index: 9999
	margin: auto
	background: white
	border-radius: 50%
	width: 1px
	height: 1px
	animation: expand 0.6s, fade 0.4s ease 0.4s
@keyframes expand
	to
		width: 2000px
@keyframes fade
	to
		background: transparent

.mymce-container
	min-height: 640px
	width: 100%
	#input-body
		width: 100%
		display: inline-block

.edit-only
	display: none
.edit-hidden
	display: inline-block
.card-wrapper
	.card
		padding: 32px 56px
		margin-bottom: 24px
.card-box
	width: 100%
	height: 289px
	border: 1px solid lightgray
	border-radius: 4px
	background: white
	overflow: hidden
	.image
		height: 168px
		padding: 8px
		img
			width: 100%
			max-width: 168px
			height: width
			max-height: 168px
			object-fit: cover
	.content
		padding-top: 24px
		a.header
			font-size: 16px
		.meta
			color: gray
			font-size: 14px

#modal-cust
	width: 100%
	position: absolute
	z-index: 999
	background: white
	top: 0px
	left: 0px
	display: none

.news-style
	height: 289px
	padding: 0px 1px
	overflow: hidden
	img.background.image
		width: 100%
		height: 289px
		transition: all 0.4s ease-out
		object-fit: cover
		border: 2px solid #32ACB7
	.content
		color: white
		background: rgba(0,0,0,0.2)
		position: relative
		top: -289px
		width: 100%
		padding: 24px
		padding-top: 200px
		height: 289px
		overflow: hidden
		transition: all 0.3s ease-out
		div
			transition: all 0.4s ease-out
		.header
			display: inline-block
			font-size: 18px
			height: 54px
			overflow: hidden
		.meta
			font-size: 12px
			margin-bottom: 36px
		.description
			font-size: 12px
			height: 88px
			margin-bottom: 24px
			overflow: hidden

.news-style:hover .background.image
	border: 8px solid #32ACB7
.news-style:hover .content
	padding-top: 64px
	background: rgba(0,0,0,0.4)
.news-style:hover .meta
	margin-bottom: 12px
.news-style:hover .description
	margin-bottom: 4px
.arrow
	padding: 4px
	height: 24px
	background: rgba(0,0,0,0.5)
	opacity: 0.6
	cursor: pointer
	div
		display: inline-block
	.stick
		width: 28px
		height: 1px
		position: relative
		top: -5px
		background: white
	.point
		width: 12px
		height: 12px
		margin-top: 6px
		position: relative
		left: -12px
		border-top: 1px solid white
		border-left: 1px solid white
		transform: rotate(135deg)
	.wall
		color: white
		font-size: 10px
		width: 2px
		height: 17px
		position: relative
		left: -8px
		top: 3px
		border-left: 1px solid white
.arrow:hover
	opacity: 1

#scroll-top
	background: $bg-color
	height: 42px
	padding-top: 6px
	padding-bottom: 12px
	transform: rotate(270deg)
	position: fixed
	bottom: 84px
	right: -4px

#scroll-top.in
	right: -4px
	animation: sin 0.8s ease

#scroll-top.out
	right: -48px
	animation: sout 0.8s ease
@keyframes sin
	from
		right: -48px
	to
		right: -4px
@keyframes sout
	from
		right: -4px
	to
		right: -48px
ol.publication
	li
		padding: 12px
		.edit-hidden
			vertical-align: top
#ops
	.ui.labeled.icon
		box-shadow: 0px 0px 24px 0px rgba(222,222,222,0.9)
.people-group
	padding: 12px
	border: 1px solid lightgray
	.group-label
		width: 100%
		padding: 4px
		text-align: left
		font-size: 18px
		padding: 8px 4px 4px 8px
		border-bottom: 1px solid lightgray
	.people
		padding: 12px
		text-align: center
		.card-box
			.image
				img.media-object.img-circle.center-block
					object-fit: cover
#profile-pic
	padding: 0px 56px 14px 0px
	#edit-pic
		width: 100px
		height: 100px
		z-index: 2
		position: absolute
		#pic-loader
			width: 100px
			height: 100px
			margin: auto
			position: absolute
			background: rgba(0,0,0,0.4)
		label
			cursor: pointer
			color: white
			position: relative
			top: 36px
			left: 12px
			padding: 2px 8px
		label.btn
			border: 2px solid white
	img
		object-fit: cover
.edit-logo
	position: absolute
	label.btn
		top: 16px
		border: 2px solid black
		cursor: pointer
footer
	background: $bg-color
	color: $prim-color
	margin-top: 24px
	padding: 8px
	.footer-div
		text-align: center
		min-height: 124px
		border-left: 1px solid lightgray
		a.item
			font-size: 12px
			color: lightgray
		.label
			padding-bottom: 12px
			border-bottom: 1px solid lightgray
		a.out-link
			display: inline-block
			height: 36px
			padding: 2px
			img
				height: 100%
		a.about
			color: lightgray
			border-bottom: 1px solid
	.footer-div:first-child
		border-left: 0px
	.site-map
		a.item.nav-link
			display: inline-block
			padding: 4px 12px
			span
				border-bottom: 1px solid

@media (min-width: 999px)
	#header
		height: $header-height
		border-bottom: 1px solid lightgray
		overflow: hidden
@media (max-width: 768px)
	//#header-container
		//padding: 0px
	#top-indicator
		position: relative
		top: 60px
	header#header
		width: 100%
		top: 0px
		padding: 0px
		background: white
		transition: all 0.8s ease-in-out
		a#sidebar-toggle
			z-index: 100
			display: inline-block
			position: absolute
			padding: 8px
			font-size: 36px
			cursor: pointer
		.custom-header
			padding: 2px
			.site-title
				padding: 8px
				margin: 0px
				text-align: center
				h1
					float: center
			.logo
				text-align: center
			.my-navbar
				display: none
		.header-images
			display: none
	//#header-container.normal
	header#header.normal
		height: 162px
		background: white
		.custom-header
			padding: 2px
			.logo
				text-align: center
	//#header-container.fixed
	header#header.fixed-header
		position: fixed
		z-index: 99
		top: 0px
		height: 54px
		background: gray
		box-shadow: 0px 12px 24px -16px rgba(0,0,0,0.9)
		.custom-header
			padding: 2px
			.logo
				display: none
	//#header-container.fixed.hidden
	header#header.fixed-header.hidden
		animation: showheader 1s ease 0s 1 reverse
		top: -54px
	//#header-container.fixed.shown
	header#header.fixed-header.shown
		animation: showheader 1s ease
		top: 0px
	#vertical-nv,#header-nv
		display: none
	.card.background-card
		padding: 25px 4px 25px 24px

@media (max-width: 768px)
	#main-content
		padding: 0px
	#article.edithidden
		#d_title
			padding: 12px 24px
		.article-meta
			font-size: 13px
			padding: 4px 0px
			label
				padding: 4px 12px 4px 2px
		.main-body
			padding: 8px 4px 24px 4px
	.card.background-card
		padding: 25px 4px 25px 24px
	#slr-container
		height: 240px
		.item
			height: 240px
	.custom-container
		h2
			font-size: 18px