.mce-toolbar-grp.mce-container.mce-panel.mce-stack-layout-item.mce-first {
  border: 1px solid #A7CDCC;
}

.mce-toolbar-grp.mce-container.mce-panel.mce-abs-layout-item.mce-first.mce-last {
  border: 1px solid #A7CDCC;
}

#ul_title {
  padding: 5px 5px 20px 20px;
}

.title {
  padding: 12px 0px;
  font-size: 24px;
  line-height: 150%;
  width: 100%;
  text-align: center;
}

#date_src {
  padding: 0px 22px;
}

#app.upload-att {
  margin-top: 16px;
}

#ops {
  padding: 8px;
  position: fixed;
  bottom: 4px;
}

#frm-body {
  padding: 8px 20px;
  border-radius: 3px;
}

.upload_textarea {
  font-size: 15px;
  line-height: 150%;
}

.att-name {
  width: 640px;
}

.image_box {
  min-height: 200px;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  color: #ecf0f1;
  text-align: center;
  border-style: dotted;
  border-width: 1px;
}

.image_preview {
  position: relative;
  width: 80%;
  top: 0px;
  z-index: 0;
  resize: both;
  max-width: 620px;
  max-height: 720px;
}

.upload_img {
  width: 100%;
  height: 50px;
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  z-index: 10;
  margin: auto;
  cursor: pointer;
}

.image_label {
  position: absolute;
  z-index: 5;
  opacity: 0.8;
  cursor: pointer;
  background-color: #bdc3c7;
  width: 200px;
  height: 50px;
  font-size: 20px;
  line-height: 50px;
  text-transform: uppercase;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
}

.caption {
  font-size: 14px;
  width: 460px;
  position: relative;
  text-align: center;
  left: 0px;
  top: 0px;
  resize: none;
}

.tips {
  display: block;
}

.tiplabel {
  font-size: 15px;
  line-height: 18px;
  margin: 0px;
  padding: 10px 0px 0px 0px;
}

.tipimg {
  display: inline-block;
  width: 12px;
  height: 12px;
}

#input-img {
  position: absolute;
  top: -99px;
  z-index: -99;
}
