extends ../layout

block content
	.custom-container.container-fluid
		if editmode
			.edit-controls(data-type='about')
				.edit-control.edit-btn.labeled.icon.ui.button.blue edit
					i.icon.edit
				.edit-control.save-btn.labeled.icon.ui.button.green save
					i.icon.save
		h2
			span.title-icon #
			span About
		#about.content.content-module.editable!= doc ? doc : about