extends ../layout

block content
	include edit
	#article.edit-hidden(data-id= doc._id data-type= doctype)
		h2#d_title= doc.title
		.article-meta
			if doc.date
				label#d_date= doc.date
			if doc.source
				strong#d_source= "By: " + doc.source
		.main-body!= doc.body
	if editmode
		.edit-only
			include ../uploads/uploadproj.jade