extends ../layout

block content
	#article(data-id= doc._id data-type= doctype)
		include edit
		h2#d_title= doc.title
		.row
			p.meta.col-md-12.col-lg-10.col-lg-offset-1
				if doc.date
					label#d_date= doc.date
				if doc.source
					strong#d_source= "来源: " + doc.source
		.main-body!= doc.body