if editmode
	.edit-controls(data-id= doc._id data-type= doctype)
		.edit-control.edit-btn.labeled.icon.ui.button.blue.small edit
			i.icon.edit
		#btn-upload.edit-control.save-btn.labeled.icon.ui.button.green.small save
			i.icon.save
		.edit-control.delete-btn.labeled.icon.ui.button.green.small delete
			i.icon.delete