if editmode
	.edit-controls(data-id= doc._id data-type= doctype)
		.edit-control.edit-btn.labeled.icon.ui.button.blue edit
			i.icon.edit
		.edit-control.save-btn.labeled.icon.ui.button.green save
			i.icon.save
		.edit-control.delete-btn.labeled.icon.ui.button.green delete
			i.icon.delete