extends ../layout
block content
	#slr-container
		#slr.carousel.slide(data-ride="carousel")
			#slr-inner.carousel-inner(role="listbox")
				if news && news[0]
					each nw, index in news
						if index == 0
							.item.active
								+slide(nw)
						else if index < 6
							.item
								+slide(nw)
			a.left.carousel-control(href='#slr' role="button" data-slide="prev")
			a.right.carousel-control(href='#slr' role="button" data-slide="next")
	include news
	.custom-container.container-fluid
		if editmode
			.edit-controls(data-type='about')
				.edit-control.edit-btn.labeled.icon.ui.button.blue edit
					i.icon.edit
				.edit-control.save-btn.labeled.icon.ui.button.green save
					i.icon.save
		h2
			span.title-icon #
			span About
		#about.content.content-module.editable!= doc ? doc : about