extends ../layout
mixin slide(doc)
	img.slr-img.cursor-pointer(src= doc.cover ?  doc.cover : '' alt='slider image')
	.carousel-caption
		h3
			a(href='/news?_id=' + doc._id)= doc.title
		label.slabelextra
			a.slabeldate= doc.date.substr(0, 10)
			label.slabelsource= doc.source
block content
	#slr-container
		#slr.carousel.slide(data-ride="carousel")
			ol.carousel-indicators
				each nw, index in news
					li(data-target='#slr' data-slide-to=index)
			#slr-inner.carousel-inner(role="listbox")
				if news && news[0]
					each nw, index in news
						if index == 0
							.item.active
								+slide(nw)
						else if index < 6
							.item
								+slide(nw)
			a.left.carousel-control(href='#slr' role="button" data-slide="prev")
			a.right.carousel-control(href='#slr' role="button" data-slide="next")
	include about
	include news
	include event
	include research
	include project
	include people