#people.box-container.custom-container.container-fluid
	h2
		label people
	.people-group.container-fluid
		.people.col-md-4.col-lg-3
			.card-box
				.image
					img(src='https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwi71OS2oIvLAhUS2GMKHXicCR0QjRwIBw&url=http%3A%2F%2Fwww.piedpiper.com%2F&psig=AFQjCNHXjOpGjqvK2j_8Wq5bJJ-sFfgvuA&ust=1456226358152598')
				.content
					a.header(href='/person') Richard Hendriks
					.meta
						span.label CEO/President
		.people.col-md-4.col-lg-3
			.card-box
				.image
					img(src='http://static1.squarespace.com/static/551d64a8e4b0eeef9d4c5e6e/551d87c7e4b088e1f80a36d5/552a8c7ae4b01f43e14c0e1b/1428851970294/erlich.png?format=500w')
				.content
					a.header(href='/person') Erlich Bachmann
					.meta
						span.label Board Member
		.people.col-md-4.col-lg-3
			.card-box
				.image
					img(src='http://static1.squarespace.com/static/551d64a8e4b0eeef9d4c5e6e/551d87c7e4b088e1f80a36d5/552a8c7be4b01f43e14c0e1d/1428965138819/jared.png?format=500w')
				.content
					a.header(href='/person') Jared Dunn
					.meta
						span.label Head of Business Development
		.people.col-md-4.col-lg-3
			.card-box
				.image
					img(src='http://static1.squarespace.com/static/551d64a8e4b0eeef9d4c5e6e/551d87c7e4b088e1f80a36d5/552a8c7ae4b0042c027b9b02/1428852057404/dinesh.png?format=500w')
				.content
					a.header(href='/person') Dinesh Chugtai
					.meta
						span.label Programmer, Co-CTO
		.people.col-md-4.col-lg-3
			.card-box
				.image
					img(src='http://static1.squarespace.com/static/551d64a8e4b0eeef9d4c5e6e/551d87c7e4b088e1f80a36d5/552a8c7be4b0719b1e06e930/1430749042925/gilfoyle.png?format=500w')
				.content
					a.header(href='/person') BERTRAM GILFOYLE
					.meta
						span.label Systems Architect, Co-CTO
		.people.col-md-4.col-lg-3
			.card-box
				.image
					img(src='http://static1.squarespace.com/static/551d64a8e4b0eeef9d4c5e6e/551d87c7e4b088e1f80a36d5/55477e9de4b0ebc5baf7ab02/1430749054959/carla.png?format=500w')
				.content
					a.header(href='/person') CARLA WALTON
					.meta
						span.label Platform Engineer
		if editmode
			.people.col-md-4.col-lg-3.edit-add
				.card-box
					.add-btn(data-url='/add/uploadp' data-type='people')
						i.fa.fa-plus-square