extends ../layout

block content
	.custom-container.container-fluid
		h2
			span.title-icon #
			soan People
		mixin peopleCard(pp)
			.people.content-module.col-xs-6.col-sm-4.col-md-3
				.card-box
					.image
						img.media-object.img-circle.center-block(src= pp.picture)
					.content
						a.header(href='/people?_id=' + pp._id)= pp.name
						.meta
							span.label= pp.title
		-var group = [{name:'professor',member:[]},{name:'post-doc',member:[]},{name:'graduate student',member:[]},{name:'undergraduate student',member:[]}];
		if people && people[0]
			each pp, index in people
				each grp, index in group
					if grp.name == pp.degree
						-group[index].member.push(pp);
		each grp, index in group
			if grp.member[0]
				.people-group.container-fluid
					.group-label= grp.name
					each pp, index in grp.member
						+peopleCard(pp)
		if editmode
			.people.content-module.col-xs-6.col-sm-4.col-md-3.edit-add
				.card-box
					.add-btn(data-url='/add_people' data-type='people')
						i.fa.fa-plus-square