#project.custom-container.container-fluid
	h2
		label projects
	if project && project[0]
		each pj, index in project
			.project.content-module.news-style.col-xs-6.col-sm-4.col-md-3
				img.background.image(src=pj.cover)
				.content
					.header= pj.title
					.meta
						span.date= pj.date
					.description= pj.quote
					a.arrow(href='/news?_id=' + nw._id)
						.stick
						.point
						.wall

	.project.content-module.news-style.col-xs-6.col-sm-4.col-md-3
		img.background.image(src='/images/000.jpg')
		.content
			.header Projects Aero
			.meta
				span.date Started in 2016
			.description nahh
			a.arrow
				.stick
				.point
				.wall
	.project.content-module.news-style.col-xs-6.col-sm-4.col-md-3
		img.background.image(src='/images/001.jpg')
		.content
			.header Projects Blob
			.meta
				span.date Started in 2016
			.description nahh
			a.arrow
				.stick
				.point
				.wall
	.project.content-module.news-style.col-xs-6.col-sm-4.col-md-3
		img.background.image(src='/images/002.jpg')
		.content
			.header Projects Cli
			.meta
				span.date Started in 2016
			.description nahh
			a.arrow
				.stick
				.point
				.wall
	if editmode
		.project.content-module.news-style.col-xs-6.col-sm-4.col-md-3.edit-add
			.card-box
				.add-btn(data-url='/add_project' data-type='project')
					i.fa.fa-plus-square

